html{
	overflow-y: scroll;
}
body{
	background-color:#f5f5f5;
}
#bigBox{
	position: relative;
	width: 700px;
	border-style: solid;
	border-width: 1px;
	margin-left:auto;
	margin-right:auto;
	padding: 5px;
	background-color:white;
	margin-top:15px;
	min-height:435px;
}
#activeGame{
	border-style: solid;
	border-width: 1px;
	margin-bottom: 5px;
}
#oldGame{
	border-style: solid;
	border-width: 1px;
	margin-bottom: 5px;
}
.editGameFormValue{
	position: absolute;
	left: 80px;
}
.editGameFormRow{
	margin-bottom:5px;
}
#editGameForm{
	border-style: solid;
	border-width: 1px;
}
#tourneyMenu{
	float:right;
}
.playerWinsName{
	cursor:pointer;
}
.playerWinsName:hover{
	background-color: grey;
}
.deckWinsName{
	cursor:pointer;
}
.deckWinsName:hover{
	background-color: grey;
}
.statsTable{
	vertical-align:top;
}
#winsStats{
	float:right;
	margin-top: 75px;
	margin-right: 40px;
}
#winsStatsGraph{
	position:absolute;
	float:right;
	top: 270px;
	left: 513px;
}
#winsStats tr:nth-child(2n+0){
	background-color:#f0f0f0;
}
#deckWins tr:nth-child(2n+0){
	background-color:#f0f0f0;
}
#allDecks tr:nth-child(2n+0){
	background-color:#f0f0f0;
}
#allTourneys tr:nth-child(2n+0){
	background-color:#f0f0f0;
}
#playerWins tr:nth-child(2n+0){
	background-color:#f0f0f0;
}			
#oldGame tr:nth-child(2n+5){
	background-color:#f0f0f0;
}
#logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.backgroundCard{
	width: 150px;
	position:absolute;
	float: right;
}
#backgroundCard1{
	top: -66px;
	left: -134px;
	z-index: -4;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}
#backgroundCard2{
	z-index: -3;
	top: -43px;
	left: -60px;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
}
#backgroundCard3{
	z-index: -2;
	top: 12px;
	left: -105px;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
}
#backgroundCard4{
	top: -50px;
	left: 670px;
	z-index: -1;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
}
